body{
  background: #ddd;
}
#root{
  display: flex;
  justify-content: center;
  min-height: 100vh;
 }
#root button{
    border: 1px solid;
    background: #fff;
    border-radius: 4px;
 
    font-size: 12px;
    padding: 4px 10px;
}
  .zhuxiao{
       margin-left: 311px;
  }